---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Phrase from "../components/Phrase.astro";
import Layout from "../layouts/Layout.astro";
import Steps from "../components/Steps.astro";
import Contact from "../components/Contact.astro";
import Location from "../components/Location.astro";
---

<Layout>
  <div class="hero-bg relative pb-32">
    <Header />
    <Hero />
    <div
      class="absolute bottom-0 left-0 w-full overflow-hidden leading-none rotate-180"
    >
      <svg
        class="relative block w-[calc(100%+1.3px)] h-25 sm:h-37.5"
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none"
      >
        <path
          d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
          fill="#fafafa"></path>
      </svg>
    </div>
  </div>
  <Services />
  <Phrase />
  <Steps />
  <Location />
  <Contact />
</Layout>

<style>
  .hero-bg {
    background: linear-gradient(135deg, #ff8a00 0%, #ffb25a 100%);
  }
</style>
