---
import { Image } from "astro:assets";
import logoGanex from "../assets/logo-ganex.svg";
---

<header class="bg-transparent">
  <section
    class="max-w-7xl mx-auto flex items-center justify-between py-6 text-neutral-800"
  >
    <a href="/" class="w-32">
      <Image src={logoGanex} alt="Logo de Ganex" width={180} height={120} />
    </a>
    <nav class="flex gap-8 items-center">
      <a href="#">Inicio</a>
      <button>Servicios</button>
      <a href="#">Sobre nosotros</a>
    </nav>

    <a href="#">Contacto & soporte</a>
  </section>
</header>
