---
import Image from "astro/components/Image.astro";

import stepImage1 from "../assets/steps/1.svg";
import stepImage2 from "../assets/steps/3.svg";
import stepImage3 from "../assets/steps/2.svg";
---

<section class="relative">
  <div class="steps-top-bg h-96 absolute -z-20 w-full -top-1"></div>

  <section class="max-w-7xl mx-auto text-neutral-800 px-4">
    <div
      class="flex flex-col md:flex-row gap-12 mb-16 items-center md:items-start"
    >
      <Image
        src={stepImage1}
        alt="Imagen ilustrativa de pasos"
        class="w-full max-w-sm sm:max-w-md lg:max-w-lg mx-auto"
        width={1020}
        height={1020}
      />
      <article class="mt-12 md:mt-60 text-neutral-800">
        <h3 class="text-4xl font-medium text-[#ff8800] relative">
          Confiables<span
            class="absolute left-20 -bottom-12 -z-10 opacity-15 text-[140px] font-semibold"
            >01</span
          >
        </h3>
        <p class="mt-12 text-lg font-light">
          Desarrollamos soluciones digitales seguras, escalables y alineadas a
          las mejores prácticas tecnológicas para impulsar tu negocio en el
          entorno digital.
        </p>

        <p class="mt-8">
          ¿Tienes un proyecto en mente? <a href="#" class="nav-link"
            >Habla con nuestro equipo.</a
          >
        </p>

        <ul
          class="text-lg font-light mt-8 space-y-4 text-neutral-800 text-center md:text-left"
        >
          <li>
            <h4 class="font-normal text-[#ff8a00] mb-1">Misión</h4>
            <p>
              Impulsar el crecimiento de empresas y emprendedores a través de
              soluciones digitales innovadoras, eficientes y centradas en el
              usuario.
            </p>
          </li>
          <li>
            <h4 class="font-normal text-[#ff8a00] mb-1">Visión</h4>
            <p>
              Ser una empresa referente en soluciones digitales, reconocida por
              la calidad, innovación y el impacto real que generamos en los
              negocios.
            </p>
          </li>
          <li class="grid grid-cols-1 sm:grid-cols-2 gap-6 text-neutral-800">
            <section>
              <h4 class="font-normal text-[#ff8a00] mb-1">Valores</h4>
              <ul>
                <li>- Transparencia</li>
                <li>- Innovación</li>
                <li>- Compromiso</li>
                <li>- Orientación al cliente</li>
                <li>- Adaptación al cambio</li>
              </ul>
            </section>
            <section>
              <h4 class="font-normal text-[#ff8a00] mb-1">Atributos</h4>
              <ul>
                <li>- Profesionalismo</li>
                <li>- Tecnología</li>
                <li>- Creatividad</li>
                <li>- Experiencia</li>
                <li>- Dinamismo</li>
              </ul>
            </section>
          </li>
        </ul>
      </article>
    </div>

    <div
      class="flex flex-col md:flex-row gap-12 mb-16 items-center md:items-start"
    >
      <Image
        src={stepImage2}
        alt="Imagen ilustrativa de pasos"
        class="w-full max-w-sm sm:max-w-md lg:max-w-lg mx-auto"
        width={1020}
        height={1020}
      />
      <article>
        <h3 class="text-4xl font-medium text-[#ff8800] relative">
          Desarrollo confiable<span
            class="absolute -left-16 -bottom-12 -z-10 opacity-15 text-[140px] font-semibold"
            >02</span
          >
        </h3>
        <ul class="mt-12 text-lg font-light text-neutral-800">
          <li>- Diseño y desarrollo de sitios web</li>
          <li>- Tiendas online y soluciones e-commerce</li>
          <li>- Sistemas y plataformas a medida</li>
          <li>- Optimización y posicionamiento digital</li>
          <li>- Soporte y evolución continua de tus soluciones</li>
        </ul>
        <a
          href="#soporte"
          class="inline-block! px-6 py-2.5 mt-6 bg-emerald-600 text-white text-lg rounded-lg font-medium transition hover:-translate-y-1"
        >
          Saber más
        </a>
      </article>
    </div>

    <div
      class="flex flex-col md:flex-row gap-12 items-center md:items-start"
    >
      <Image
        src={stepImage3}
        alt="Imagen ilustrativa de pasos"
        class="w-full max-w-sm sm:max-w-md lg:max-w-lg mx-auto"
        width={1020}
        height={1020}
      />
      <article>
        <h3 class="text-4xl font-medium text-[#ff8800] relative">
          Ecosistema digital<span
            class="absolute left-60 -bottom-12 -z-10 opacity-15 text-[140px] font-semibold"
            >03</span
          >
        </h3>
        <p class="mt-12 text-lg font-light text-neutral-800">
          Creamos soluciones que conectan marcas, tecnología y usuarios para
          generar resultados reales y sostenibles.
        </p>
      </article>
    </div>
  </section>
  <div class="steps-bottom-bg h-96 absolute -z-20 w-full bottom-0"></div>
</section>

<style>
  .steps-top-bg {
    background: #ff8a00;
    clip-path: polygon(0 0, 0 100%, 100% 0, 0 0);
  }

  .steps-bottom-bg {
    background: #ff8a00;
    clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
  }

  .nav-link {
    position: relative;
    display: inline-block;
    color: #009966; /* neutral-800 */
    text-decoration: none;
    transition: color 0.2s ease;
  }

  .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }

  .nav-link:hover::after {
    transform: scaleX(1);
  }

  .nav-link:hover {
    color: #009966;
  }
</style>
