---
import "../assets/global.css";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ganex - Tu negocio en la web</title>
  </head>

  <body class="text-neutral-800">
    <slot />
    <Footer />
  </body>
</html>
